<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pighand.user.mapper.project.ProjectDefaultMapper">
    <sql id="Base_Column_List">
        `id`,`project_id`,`default_nickname`,`default_profile`
    </sql>

    <select id="query" resultType="com.pighand.user.vo.project.ProjectDefaultVO">
        select
        <include refid="Base_Column_List"/>
        from project_default
    </select>

</mapper>
