<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pighand.user.mapper.project.ProjectTripartitePlatformMapper">
    <sql id="Base_Column_List">
        `id`,`officially_account_redirect`
    </sql>

    <select id="query" resultType="com.pighand.user.vo.project.ProjectTripartitePlatformVO">
        select
        <include refid="Base_Column_List"/>
        from project_tripartite_platform
    </select>

</mapper>
