<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pighand.user.mapper.user.UserExtensionMapper">
    <sql id="Base_Column_List">
        `id`,`nickname`,`name`,`gender`,`profile`,`sign_up_at`,`last_sign_in_at`,`real_person_certification`,`initial_info`
    </sql>

    <select id="query" resultType="com.pighand.user.vo.user.UserExtensionVO">
        select
        <include refid="Base_Column_List"/>
        from user_extension
    </select>

    <select id="join" resultType="com.pighand.user.vo.user.UserExtensionVO">
        select user_extension.id,
        user_extension.name
        <if test="userExtensionVO.joinTables.contains('user')">
            ,user.email as `user.email`
        </if>
        from user_extension
        <if test="userExtensionVO.joinTables.contains('user')">
            left join user on user.id = user_extension.id
        </if>
    </select>

</mapper>
